@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);


body {
	background-color: #55acee;
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: 150px;
	text-align: center;
}

main div {	
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	width: 260px;
	height: 40px;
	background-color: #55acee;
	border: solid white 1px;
	color: white;
	font-size: 16px;
	margin-top: 20px;	
}

button:hover {
	background-color: #449bea; 
	cursor: pointer;
}

.fa, a {
	color: white;
	text-decoration: none;
}


